input:not(.mdl-switch__input) {
  padding:15px;
  padding-left: 35px;
  border: 0px;
  border-bottom: 1px solid #CCC;
  width: 312px;
  margin-bottom: 20px;
  font-size: 15px;
  font-family: "Oswald";
  outline: none;
  color: #4c4c4c;
}

input[type="number"], input[type="checkbox"] {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0px;
  box-shadow: none;
}


.btn {
  border: 0px;
  padding: 10px;
  font-size: 15px;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
}

.btn.connect {
  background-color: #ff4081 !important;
}
.btn.connect:hover {
  background-color: #e03670 !important;
}
.btn.connect:active {
  background-color: #f95f94 !important;
}

.btn.desconect {
  background-color: #ff9840;
}
.btn.desconect:hover {
  background-color: #dc853b !important;
}
.btn.desconect:active {
  background-color: #ffab63 !important;
}

.btn:hover {
  background-color: #1a84d8;
}
.btn:active {
  background-color: #60a4da;
}

div#login .listening {
	bottom: 9px;
	position: absolute;
	background-color: #673ab7;
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
div#login .listening:hover {
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.23);
}
div#login .listening:active {
	background-color: #7240c9;
}

div#login .desecople {
	bottom: 9px;
	position: absolute;
	background-color: #673ab7;
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
div#login .desecople:hover {
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.23);
}
div#login .desecople:active {
	background-color: #7240c9;
}

div#login .success {
	background-color: #4caf50;
}
div#login .success:hover {
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.23);
}
div#login .success:active {
	background-color: #58c75c;
}


*:not(input),
*:not(textarea) {
  user-select: none;
}
label.mdl-radio input {
  width: 100% !important;
}
webview {
  width: 100% !important;
  height: 100% !important;
}
.webview_content {
  width: 100%;
  height: 100%;
  position: fixed;
}

.unlogin {
  filter: blur(3px);
}

.mdl-shadow--2dp {
  box-shadow: none;
}
.mdl-data-table {
  border: 0px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #e2e2e2;
  border-radius: 3px;
  margin-right: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.content_data_history div img {
  border-radius: 3px;
}
.lightbox {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0;
  margin: auto;
  z-index: 99;
}
h3 {
  color: #5a5a5a;
  text-align: center;
}

.mdl-spinner.mdl-js-spinner.is-active {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 20px;
}

input.search {
  background-color: #e4e4e4;
  border-radius: 50px;
  height: 40px;
  width: 100%;
  border: 0px;
  color: #4c4c4c;
}

select.selectGroup {
  height: 40px;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 5px;
  font-family: unset;
  outline: none;
}

.mdl-data-table thead {
  width: 100%;
}
.mdl-data-table {
  height: 100%;
  width: 100%;
}
.main_content {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  top: 30px;
  bottom: 0;
  left: -50px;
  right: 0;
  margin: auto;
  width: 90%;
  height: 90%;
}
.main_content h2 {
  font-family: "Oswald", sans-serif;
  color: #4e4e4e;
}
.content_main {
  width: 100%;
  height: calc(100% - 93px);
  overflow-y: hidden;
}
.scroll-y {
  position: absolute;
  height: calc(100% - 104px);
  width: 100%;
  overflow-y: auto;
}
.main_content th, .main_content td {
  width: 160px;
  display: inline-flex;
  padding: 4px;
}
.main_content td button {
  width: 100%;
}
