<template>
	<div id='login'>
		<div class="content_login">
			<img class="imagen_portada" src="../assets/img_login.jpg"/>
			<!-- name login -->
			<h3 class="name_app_login">Login in
				<div>Share Session</div>
				<div><i class="fas fa-handshake"></i></div>
			</h3>

			<!-- form -->
			<form>
				<div class="input_">
					<i class="fas fa-user"></i>
					<input id="usr_input" v-model="usr_panel" type="email" placeholder="Email" autofocus required/>
				</div>
				<div class="input_">
					<i class="fas fa-lock"></i>
					<input id="pwd_input" v-model="pwd_panel" type="password" placeholder="Password" required/>
				</div>
				<button type="button" class="btn" v-on:click="openPanel()">
					<i class="fas fa-sign-in-alt"></i>&nbsp;Login
				</button>

				<!-- <button type="button" class="btn success" v-on:click="testPlugin()">
					<i class="fas fa-search"></i>&nbsp;Search some things
				</button> -->
				<button type="button" class="btn listening" v-on:click="listening()" v-if="!getListening">
					<i class="fas fa-link"></i>&nbsp;Listening
				</button>
				<button type="button" class="btn desecople" v-on:click="disengage()" v-if="getListening">
					<i class="fas fa-unlink"></i>&nbsp;Disengage
				</button>
				<!-- <div class="texto_label">Share without giving away your data</div> -->
			</form>
		</div>
	</div>
</template>

<script>
import loginfunc from './../library/login'
import plugifunc from './../library/pluginfunc'
import core from './../library/core'
import swal from 'sweetalert2'

export default {
	data() {
		return {
			usr_panel: "",
			pwd_panel: "",
			bDisengage: true
		}
	},

	methods: {

		/*
	   * Author: hbiblia@gmail.com - slam
	   * Fecha: 20/8/2018
		 * Update: 8/10/2018
	   * Desc: registramos el host
	   */
		listening: function() {
			swal({
			  input: 'text',
			  inputPlaceholder: 'Enter code'
			}).then((r) => {
				if (r.value) {
					loginfunc.registerHost(r.value, () => {
						swal('The Internet?', 'That thing is still around?', 'question')
					})
				}
			})
			// loginfunc.listening(
			// 	()=> { this.$store.commit( 'hideFormLogin' ) },
			// 	(session)=> {
			// 		plugifunc.autoConnect( this, session, loginfunc )
			// 	},
			// 	()=> { this.$store.commit( 'showFormLogin' ) })
		},

		/*
	   * Author: hbiblia@gmail.com - slam
	   * Fecha: 20/8/2018
		 * Update: 8/10/2018
	   * Desc: quitamos el host registrado
	   */
		disengage: () => {
			let sess = localStorage.linksession
			firebase.database().ref(sess+'/host_reg/'+loginfunc.getUidHost()).remove()
			plugifunc.logoutPlugin()
		},

		/*
	   * Author: hbiblia@gmail.com - slam
	   * Fecha: 20/8/2018
		 * Update: 8/10/2018
	   * Desc: probamos el plugin
	   */
		testPlugin: function() {
			if( localStorage.linksession !== undefined ) {
				this.$store.commit( 'hideFormLogin' )
				location.reload()
			} else {
				core.notify('You do not have an active session', 'warning')
			}
		},

		/*
	   * Author: hbiblia@gmail.com - slam
	   * Fecha: 20/8/2018
		 * Update: 8/10/2018
	   * Desc: abrimos el panel de control
	   */
		openPanel: function() {
			firebase.auth().signInWithEmailAndPassword(this.usr_panel, this.pwd_panel).then((a) => {
				this.$store.commit( 'showPanelControl' )
			}).catch(function(er){
				core.notify(er.message, 'error')
			})
		}
	},

	computed: {
		getListening() {
			return localStorage.linksession !== undefined
		}
	}
};
</script>

<style scope>
#login .imagen_portada {
	width: 230px;
	position: absolute;
	left: 120px;
	margin: auto;
	top: 0;
	bottom: 0;
}
#login .mdl-spinner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	color: #fff;
	content: "";
	display: flex;
	align-items: center;
	justify-content: center;
}

#login button {
	width: 350px;
	border-radius: 50px;
	height: 41px;
	background-color: #f44336;
}

#login h3 {
	color: #c8c8c8;
}

#login .input_ {
	position: relative;
}

#login .input_>.fas {
	position: absolute;
	left: 6px;
	top: 17px;
	font-size: 20px;
	color: #9d9d9d;
}

#login input {
	color: #4c4c4c;
}

#login .content_login {
	margin-left: 15px;
}
#login .content_login > form {
	position: absolute;
	right: 70px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 360px;
  height: 330px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#login .name_app_login {
	position: absolute;
	top: 0px;
	right: 120px;
	text-align: center;
	color: #525252;
	font-family: "Oswald";
	font-size: 47px;
	line-height: 50px;
	width: 29%;
}

div#login {
	width: 80%;
	height: 80%;
	background-color: rgb(255, 255, 255);
	filter: blur(0px);
	position: absolute;
	justify-content: center;
	align-items: center;
	display: flex;
	border-radius: 5px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.47843137254901963);
}

div#login .texto_label {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
  width: 230px;
}
</style>
