<template>
    <div id='panel'>
      <div class="menu_panel">
        <ul class="toolbar"><li v-for="menu in menuComponents" v-on:click="selectComp(menu)" v-bind:class="menu.select" class="menuLi"><i class="fas" v-bind:class="menu.ico"></i>&nbsp;</li></ul>
        <div class="content_"><keep-alive><component v-bind:is="currentComp"></component></keep-alive></div>
      </div>
    </div>
</template>

<script>
import Vue from "vue";
// import dashboard from "./panel/dashboard.vue";
import plugin from "./panel/pluginsetting.vue";
import history from "./panel/history.vue";
import listener from "./panel/listener.vue";

Vue.component("plugin", plugin);
Vue.component("history", history);
Vue.component("listener", listener);

export default {
  data() {
    return {
      menuComponents: [
        {
          comp: "listener",
          ico: "fa-assistive-listening-systems",
          name: "Listener hosts",
          select: {select: true}
        },
        {
          comp: "history",
          ico: "fa-history",
          name: "History of download",
          selct: {select: false}
        },
        {
          comp: "plugin",
          ico: "fa-tasks",
          name: "Plugins setting",
          select: {select: false}
        }
      ],
      currentComp: listener
    };
  },
  methods: {
    logout: function() {
      this.$store.commit("hidePanelControl");
      setTimeout(function(this_) {
        this_.$store.commit("showFormLogin");
      }, 200, this);
    },
    selectComp: function(a) {
      this.currentComp = a.comp;
      this.menuComponents.forEach(b => b.select = {select:false});
      a.select = {select:true};
    }
  }
};
</script>

<style scope>
#panel {
  background-color: #fafafa;
}

#panel .menu_panel {
  width: 100%;
  height: 100%;
}
#panel .toolbar {
  width: 60px;
  height: 100%;
  background: #141416;
  color: #FFF;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: auto;
  border-right: 3px solid #1b1b1d;
}

#panel li.menuLi {
  list-style: none;
  font-size: 25px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  padding-left: 2px;
  color: #6b6b6b;
}
#panel li.menuLi:hover {
  background-color: rgba(255, 255, 255, 0.04);
  cursor: pointer;
}

#panel ul {
  margin: 0;
  padding: 0;
}
#panel .content_ {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 63px;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #e4e4e4;
  padding: 20px;
}
.select{
  color:#05c1ee !important;
}
</style>
