<template>
<div id="toolbar"
  class="toolbar_main"
  v-bind:class="[showLightBox?'unlogin':'']">
	<ul>
		<li v-on:click="goback()"><a href="#"><i class="fas fa-arrow-left"></i></a></li>
		<li v-on:click="goForward()"><a href="#"><i class="fas fa-arrow-right"></i></a></li>
		<li v-on:click="goReload()"><a href="#"><i class="fas fa-redo"></i></a></li>
		<li class="urlinput"><span class="color_ssl">
      <i class="fas fa-lock"></i>&nbsp;{{url_http}}</span>
			<span class="pipe">&nbsp;&nbsp;|&nbsp;&nbsp;</span>{{url_input}}
		</li>
		<li title="Historial de licencia"><a href="#"
			  v-on:click="historial()"><i class="fas fa-history"></i></a>
		</li>
		<li class="adm"
		  v-on:click="showAdmin()"><a href="#"><i class="fas fa-ellipsis-v"></i></a>
		</li>
	</ul>
  	<div class="mdl-progress mdl-js-progress mdl-progress__indeterminate toolbar_progress"></div>
</div>
</template>

<script>
import history from "@/library/history.js";

export default {
	data() {
		return {
			url_http: "Es seguro",
			url_input: "https://www.shutterstock.com/"
		};
	},

  mounted () {
    this.webview = document.querySelector( 'webview' )
  },

	methods: {
		/* mostramos el panel de control. */
		showAdmin: function () {
			let adm_co = confirm( "Confirm to close the session temporarily", "Share Session" );
			if( adm_co == true ) {
        this.$store.commit( 'showFormLogin' )
			}
		},
		/* toolbar */
		goReload: function () {
			this.webview.reload();
		},
		goForward: function () {
			this.webview.goForward();
		},
		goback: function () {
			this.webview.goBack();
		},
		historial: function () {
			this.webview.loadURL( "https://www.shutterstock.com/es/account/library" );
		}
	},

	computed: {
    showLightBox() {
      return this.$store.state.Main.bLightbox
    }
	}
};
</script>

<style scope>
.mdl-progress>.progressbar {
	background-color: #d82727 !important;
}

#toolbar ul {
	margin: 0;
	padding: 5px;
	width: 98%;
	vertical-align: top;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

#toolbar li {
	list-style: none;
	height: 20px;
	width: 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	cursor: pointer;
	font-size: 15px;
	margin: 2px;
}

#toolbar li:active {
	border-radius: 100%;
	background-color: rgba(0, 0, 0, 0.08);
}

#toolbar li:hover {
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.05);
}

#toolbar li a {
	text-decoration: none;
	color: #4c4c4c;
}

#toolbar .urlinput {
	height: 20px;
	width: 80%;
	background-color: #e2ecf7 !important;
	border-radius: 20px !important;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: #333;
	font-family: sans-serif;
	font-size: smaller;
	cursor: text;
}

#toolbar .adm {
	width: 20px;
	height: 20px;
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#toolbar .adm a {
	color: #000;
	font-size: 13px;
}

#toolbar .toolbar_progress {
	width: 100%;
	top: 39px;
	position: absolute;
	opacity: 0;
}

#toolbar span.pipe {
	user-select: none;
	cursor: pointer;
}

#toolbar span.color_ssl {
	color: green;
	cursor: pointer;
	user-select: none;
	font-weight: normal;
}

#toolbar.toolbar_main {
	height: 39px;
	width: 100%;
	z-index: 99;
	background-color: #f4f4f4;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #e6e6e6;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.09);
}
</style>
