<template>
    <div id='history' class="main_content">
      <h2><i class="fas fa-chart-line"></i>&nbsp;History of download</h2>
      <div class="content_main">
        <h3 v-if="historys.length<0">No history were found</h3>
        <div class="group">
          <input class="search" type="search" v-model="search" placeholder="Search username and id">
        </div>
        <table class="mdl-data-table">
            <thead>
              <th>Usuario</th>
              <th>Host</th>
              <th>Platform</th>
              <th>Id</th>
              <th>Date</th>
              <th>Thumbnail</th>
            </thead>
            <tbody class="scroll-y">
            <tr v-for="history in filter">
              <td class="mdl-data-table__cell--non-numeric">{{history.user}}</td>
              <td>{{history.host}}</td>
              <td>{{history.platform}}</td>
              <td>{{history.id}}</td>
              <td>{{history.date}}</td>
              <td><img width="24" height="24" v-bind:src="'https://image.shutterstock.com/mosaic_250/0/0/'+history.id+'.jpg'"></td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>
</template>

<script>
import historyfunc from '@/library/history.js'

export default {
  data() {
    return {
      search: '',
      historys: []
    }
  },

  mounted() {
    historyfunc.load(data => this.historys = Object.values(data))
  },

  computed: {
    filter() {
      return this.historys.filter(a => {
        return a.user.toLowerCase().includes(this.search.toLowerCase()) ||
        a.id.toString().toLowerCase().includes(this.search.toLowerCase())
      })
    }
  }

}
</script>

<style scope>
</style>
