<template>
    <div id='listener' class="main_content">
      <h2><i class="fas fa-assistive-listening-systems"></i>&nbsp;List of accounts</h2>
      <div class="content_main">
        <h3 v-if="list_users==null">No registered users were found</h3>
        <div class="group">
          <input type="search" class="search" placeholder="Search accounts">
        </div>
        <table class="mdl-data-table">
          <thead>
              <th>Id</th>
              <th>Usuario</th>
              <th>Download</th>
              <th>Platform</th>
              <th>Group</th>
              <th>State</th>
          </thead>
          <tbody class="scroll-y">
            <tr v-for="(user, index) in filter">
              <td class="mdl-data-table__cell--non-numeric">{{index+1}}</td>
              <td>{{user.username}}</td>
              <td>{{user.down}}</td>
              <td>
                <i class="fab fa-windows" v-if="user.platform==='win32'"></i>
                <i class="fab fa-apple" v-if="user.platform==='darwin'"></i>
              </td>
              <td><select style="border:0px;outline:none;"><option>Default</option></select></td>
              <td>
                <button v-if="user.active" v-on:click="_disable(user, index)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"><i class="fas fa-times"></i></button>
                <button v-if="!user.active" v-on:click="_aceptar(user, index)" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"><i class="fas fa-plus"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</template>

<script>
import crypto from "crypto"
import core from '@/library/core.js'
import loginfunc from '@/library/login.js'
import listacfunc from '@/library/listaccountsfunc'

export default {
  data() {
    return {
      list_users: [],
      list_users_history: []
    };
  },

  mounted() {
    var userId = firebase.auth().currentUser.uid;
    firebase.database().ref(`${userId}/host_reg`).on("value", snapshot => {
      this.list_users = snapshot.val()
    })
    firebase.database().ref(`${userId}/history`).on("value", snapshot => {
      this.list_users_history = snapshot.val()
    })
  },

  methods: {
    _aceptar: function(user) {
      let clone = Object.assign(true, user)
      delete clone.hist
      clone.active = true
      firebase.database().ref(`${user.uid}/host_reg/${user.hostuid}`).set(clone);
    },
    _disable: function(user) {
      let clone = Object.assign(true, user)
      delete clone.hist
      clone.active = false
      firebase.database().ref(`${user.uid}/host_reg/${user.hostuid}`).set(clone);
    }
  },

  computed: {
    filter() {
      let users = Object.values(this.list_users)
      let histo = Object.values(this.list_users_history)
      users.forEach(user =>  {
        let mes = (new Date().getMonth()+1).toString()
        let history = histo.filter(a => a.host === user.host && a.date.split(',')[0].split('/')[0] === mes )
        user.down = history.length
        user.hist = history.slice(0, 20)
      })
      users.sort((a,b) => { return a.down < b.down})

      return users
    }
  }
};
</script>

<style scope>
</style>
