<template>
    <div id='plugins' class="main_content">
      <h2><i class="fas fa-plug"></i>&nbsp;Plugins setting</h2>
      <div class="content_main">
        <table class="mdl-data-table">
          <thead>
              <th>Name plugin</th>
              <th>User</th>
              <th>Password</th>
              <!-- <th>Active</th> -->
              <th></th>
              <th></th>
          </thead>
          <tbody class="scroll-y">
            <tr v-for="plugin in plugins_list">
              <td>{{plugin.name}}</td>
              <td><input v-bind:type="type_inp_usr" v-on:mousedown="type_inp_usr='text'"
                v-on:blur="type_inp_usr='password'"
                v-model="plugin.usr" id="usr_plugin" v-bind:placeholder="plugin.placeholder_usr"></td>
              <td><input type="password" v-model="plugin.pwd" id="pwd_plugin" v-bind:placeholder="plugin.placeholder_pwd"></td>
              <!-- <td>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                  <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" v-model="plugin.active" checked>
                  <span class="mdl-radio__label">&nbsp;</span>
                </label>
              </td> -->
              <td><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" v-on:click="saveplugin(plugin)"><i class="fas fa-save"></i>&nbsp; Save</button></td>
              <td v-if="!bConnectplugin"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" v-on:click="connectPlugin(plugin)"><i class="fas fa-link"></i>&nbsp; {{messageBtnConnect}}</button></td>
              <td v-if="bConnectplugin"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" v-on:click="_logoutPlugin()"><i class="fas fa-unlink"></i>&nbsp; {{messageBtnConnect}}</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</template>

<script>
import pluginfunc from "@/library/pluginfunc.js"
import loginfunc from "@/library/login.js"
import Swal from 'sweetalert2'

export default {
  data() {
    return {
      type_inp_usr: "password",
      messageBtnConnect:'Connect',
      plugins_list: []
    };
  },
  mounted() {
    if (localStorage.adminConnect === 'true') {
      this.messageBtnConnect = 'Disconnect'
    }
    var userId = firebase.auth().currentUser.uid
    let listp = firebase.database().ref('0OnQhEZZVrhCjpkmEdeE3DXs8sO2' + "/plugins/")
    listp.on("value", snapshot => (this.plugins_list = snapshot.val()))
  },
  methods: {
    _logoutPlugin: function() {
      pluginfunc.logoutPlugin(function() {
        Swal('Completed','Disconnect session','success')
        console.log('Disconnect')
      })
    },
    saveplugin: function(a) {
      var userId = firebase.auth().currentUser.uid
      var index = this.plugins_list.findIndex(b => b.name == a.name)
      var updates = {}
      updates[userId + "/plugins/" + index] = a
      firebase.database().ref().update(updates)

      let list_host = firebase.database().ref('0OnQhEZZVrhCjpkmEdeE3DXs8sO2' + "/host_reg/")
      list_host.once("value", snapshot => {
        let value = snapshot.val()
        for(let key in value) { value[key].reload = true }
        list_host.set(value)
      })

      Swal('Completed','','success')
    },
    connectPlugin: function(a) {
      this.messageBtnConnect = 'Load...'
      localStorage.adminConnect = true
      var userId = firebase.auth().currentUser.uid
      pluginfunc.autoConnect( this, userId, loginfunc )
    }
  },
  computed: {
    bConnectplugin() {
      return localStorage.adminConnect === 'true'
    }
  }
};
</script>

<style scope>
#plugins td > input {
  padding: 5px;
  font-family: monospace;
  border: 0px;
  width: 100%;
  border-bottom: 1px solid #d0d0d0;
  font-size: 15px;
  outline: none;
  border-radius: 0;
  margin: 0;
  box-shadow: none;
}
</style>
