<template>
<div id='app'>
	<!-- toolbar parecido a chrome. -->

	<!-- webview -->
	<div class="webview_content">
		<div class="etabs-tabgroup">
		    <div class="etabs-tabs"></div>
		    <div class="etabs-buttons"></div>
		</div>
		<toolbarmain/>
		<div class="etabs-views"></div>
	</div>

	<!-- lightbox -->
	<div class="lightbox"
	  v-if="showLightBox">
		<!-- panel de control  -->
		<div class="panel_admin"
		  v-bind:class="[isPanelControl?'access':'']">
			<div id="progress_load" v-bind:class="[bShowLogin==false?'mdl-spinner mdl-js-spinner is-active':'']"></div>
			<login v-if="bShowLogin" />
			<panel v-if="isPanelControl" />
		</div>
	</div>

</div>
</template>

<script>
import loginfunc from './library/login'
import plugifunc from './library/pluginfunc'
import TabGroup  from 'electron-tabs'

export default {

	mounted() {
		let linksession = localStorage.linksession
		let panelTemporalSession = localStorage.adminConnect

		/* iniciamos el tab controller */
		window.tabGroup = new TabGroup();
		let tab = window.tabGroup.addTab({
				title: "shutterstock",
				src: "http://shutterstock.com",
				visible: true,
				closable:false
		});
		/* mostramos el lightbox no importa que... */
		this.$store.commit( "showLightBox" )

		/* checkc check hack */
		if( linksession !== undefined && panelTemporalSession == undefined) {
			// conectamos al plugin activo.
			this.$store.commit( "hideFormLogin" )
			plugifunc.autoConnect(this, linksession, loginfunc )
		} else {
			localStorage.clear()
			// mostramos el form del login.
			this.$store.commit( "showFormLogin" )
		}
	},

	computed: {
		bShowLogin() {
			return this.$store.state.Main.bShowLogin
		},
		showLightBox() {
			return this.$store.state.Main.bLightbox
		},
		isPanelControl() {
			return this.$store.state.Main.bLoginPanelControl
		}
	}
};
</script>

<style>
@import "~@/assets/main.css";

#app {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: "Roboto", sans-serif;
}

.mdl-spinner.mdl-js-spinner.is-active.is-upgraded {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 100px;
	width: 100px;
}
.etabs-views {
	height: 100%;
}
</style>
